
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
    background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("img.convidados.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 40px auto;
    padding: 50px;
    background: #f1eae4;
    width: 90%;
    max-width: 500px;

    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

input {
    padding: 12px;
    width:220px;
    border-radius: 8px;
    border: 1px solid #ccc;
    
}

button {
    margin-top: 10px;
     padding: 12px 18px;
     background: #d1b692;
     color: white;
     border: none;
     border-radius: 8px;
     cursor: pointer;
}

#listaConvidados ul{
    list-style: none;
    padding: 0;

    overflow-y: auto;
    max-height: 550px;
}

#listaConvidados ul::-webkit-scrollbar{
}



#li {
    background: #f1eae4;  
    margin: 10px auto;  
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

#li button{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background: none;
    padding: 5px 7px;
    align-items: center;
}