body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:#fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    font-size: 20px;
    padding: 30px;
}

.container {
    margin-top: 20px;
    padding: 50px;
}

input {
    padding: 12px;
    width:220px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
     padding: 12px 18px;
     background: #d1b692;
     color: white;
     border: none;
     border-radius: 8px;
     cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f1eae4;  
    margin: 10px auto;  
    padding: 12px;
    width: 250px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button{
    background: none;
    padding: 5px 10px;
    border-radius: 5px
}
