
.bg-overlay  {
    text-align: center;
   
    background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("../../img/casamento.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.title {
    margin-top: 60px;
    
}

.container {
    margin: 40px auto;
    padding: 50px;
    background: #f1eae4;
    width: 90%;
    max-width: 500px;

    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

#nomeConvidado {
    padding: 12px;
    width:220px;
    border-radius: 8px;
    border: 1px solid #ccc;
    
}

.botao {
    margin-top: 10px;
    padding: 12px 18px;

    background: #d1b692;
    color: white;
    
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.listaConvidados ul{
    list-style: none;
    padding: 0;

    overflow-y: auto;
    max-height: 550px;
}


.lista-items {
    background: #f1eae4;  
    margin: 10px auto;  
    padding: 10px;
    width: 300px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.lista-items button{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px 7px;

    background: none;
    border: none;
    align-items: center;
    cursor: pointer;
}