body {
    text-align: center;
   
    background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("../../img/img.convidados.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#h1 {
    margin-top: 60px;
}

.info-container {
    max-width: 750px;
    margin:  auto;
    padding: 20px;
}

.info-box {
    background: #ffffff;
    padding: 35px;
    margin-bottom: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.04);
    transition: transform 0.3s ease;
}

.info-box:hover {
    transform: translateY(-6px);
}

.info-box h2 {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
}

.info-box p {
    line-height: 1.7;
    font-size: 16px;
    color: #666;
}


.maps-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #222;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

.maps-btn:hover {
    background-color: #444;
    transform: scale(1.05 );
}

.buffet-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.buffet-list li {
    margin-bottom: 8px;
    color: #666;
}

#linkBuffet {
    color: #222;
    text-decoration: none;
}

#linkBuffet:hover {
    opacity: 0.7;
}