<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/countdown.css">
    <title>Document</title>
</head>
<body>
    <div class="countdown-wrap">

        <p class="cr-subtitle">Faltam</p>

         <div class="cr-grid">
            <div class="cr-card"><span class="cr-num" id="cr-dias">--</span><span class="cr-label"> dias </span></div>
            <div class="cr-card"><span class="cr-num" id="cr-horas">--</span><span class="cr-label"> horas </span></div>
            <div class="cr-card"><span class="cr-num" id="cr-min">--</span><span class="cr-label"> min </span></div>
            <div class="cr-card"><span class="cr-num" id="cr-seg">--</span><span class="cr-label"> seg </span></div>
        </div>

        <p class="cr-title">Luiz &amp; Isabelly</p>

       

        <p class="cr-date" id="cr-date-display"></p>

    </div>

    <script src="../assets/js/main.js"></script>
    
</body>
</html>