
/*Hero*/


.bg-overlay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("/site-casamento/assets/img/casamento.png") no-repeat center/cover;
    
    color: white;

}

/*Barra de navegação*/


/*texto central*/
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text p {
    font-size: 19px;
}

@keyframes fadeUp{
    from {
        opacity: 0;
        transform: translateY(30px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.conteudo {
    max-width: 900px;
    margin: 0 auto 30px;
    margin-top: 80px;

    opacity: 0;
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.5s;
}

.conteudo p {
    
    text-align: center;
    margin: 6px 0;
    font-size: 18px;

    line-height: 1.6;
    color: #ececec;
}


.hero-text .data{
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    margin: 15px 0;
    letter-spacing: 1px;
}

.hero-text .frase {
     font-family: 'Playfair Display', serif;
}

.text1 {
    margin-bottom: 4px;
    font-weight: 500;
}

.text2 {
    margin-top: 0;
    opacity: 0.9;
}